<div class="row">
  <h4>Week 1</h4>
  <div class="col-md-6">
    <h4>Tue 25 June</h4>
    <table class="table table-striped">
      <tr><td width="15%">17:00-18:00</td><td style="background-color:#d9ead3"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshopqcd-2024-lesson-docker/">Introduction & Environment setup - installing docker-engine </a></td><td width="20%">Kati Lassila-Perini</td></tr>
    </table>
    <h4>Wed 26 June</h4>
    <table class="table table-striped">
      <tr><td width="15%">17:40-18:40</td><td style="background-color:#d9ead3"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshopqcd-2024-lesson-git/">Git clinic - hands-on with git basics</a></td><td width="20%">Kati Lassila-Perini</td></tr>
    </table>
    <h4>Thu 27 June</h4>
    <table class="table table-striped">      
      <tr><td width="15%">16:00-17:00</td><td style="background-color:#d9d2e9"><a style="color:black" href="https://indico.cern.ch/event/1134577/timetable/?view=standard#80-pythia-i">Pythia I</a></td><td width="20%">Ilkka Helenius</td></tr>
    </table>
  </div>
  <div class="col-md-6">    
    <h4>Fri 28 June</h4>
    <table class="table table-striped">
      <tr><td width="15%">10:00-11:00</td><td style="background-color:#d9d2e9"><a style="color:black" href="https://indico.cern.ch/event/1134577/timetable/?view=standard#37-pythia-ii">Pythia II</a></td><td width="20%">Ilkka Helenius</td></tr>
      <tr><td width="15%">11:30-12:30</td><td style="background-color:#d9ead3"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshopqcd-2024-lesson-git/05-store-and-share.html">Store and share your Pythia code in a git repository</a></td><td width="20%">Kati Lassila-Perini</td></tr>
    </table>
    <h4>Sat 29 June</h4>
    <table class="table table-striped">
      <tr><td width="15%">10:00-11:00</td><td style="background-color:#d9d2e9"><a style="color:black" href="https://indico.cern.ch/event/1134577/timetable/?view=standard#45-pythia-iii">Pythia III</a></td><td width="20%">Ilkka Helenius</td></tr>
      <tr><td width="15%">11:30-12:30</td><td style="background-color:#fce5cd"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshopqcd-2024-lesson-dataset-scouting/">Exploring CMS open data</a></td><td width="20%">Kati Lassila-Perini</td></tr>
    </table>
  </div>
</div>

<div class="row">
  <h4>Week 2</h4>
  <div class="col-md-6">
    <h4>Mon 1 July</h4>
    <table class="table table-striped">
      <tr><td width="15%">11:30-12:30</td><td style="background-color:#fce5cd"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshopqcd-2024-lesson-ml/">Getting ready for the Machine Learning tutorial</a></td><td width="20%">Kati Lassila-Perini</td></tr>
      <tr><td width="15%">13:30-14:30</td><td style="background-color:#cfe2f3"><a style="color:black" href="https://indico.cern.ch/event/1134577/timetable/?view=standard#40-machine-learning-i">Machine learning I</a></td><td width="20%">Thea Aarestad</td></tr>
      <tr><td width="15%">16:40-17:40</td><td style="background-color:#fce5cd"><a style="color:black" href="https://github.com/thaarres/qcd_school_ml">CMS/ML</a></td><td width="20%"></td>Thea Aarestad</tr>
    </table>
    <h4>Tue 2 July</h4>
    <table class="table table-striped">
      <tr><td width="15%">10:00-11:00</td><td style="background-color:#d9d2e9"><a style="color:black" href="https://indico.cern.ch/event/1134577/timetable/?view=standard#58-monte-carlo-sherpa-etc-i">Monte Carlo, Sherpa I</a></td><td width="20%">Alan Price</td></tr>
      <tr><td width="15%">16:00-17:00</td><td style="background-color:#cfe2f3"><a style="color:black" href="https://indico.cern.ch/event/1134577/timetable/?view=standard#40-machine-learning-ii">Machine learning II</a></td><td width="20%">Thea Aarrestad</td></tr>
      <tr><td width="15%">17:00-19:00</td><td style="background-color:#d9ead3"><a style="color:black" href="https://github.com/thaarres/qcd_school_ml">CMS/ML</a></td><td width="20%">Thea Aarestad, Kati Lassila-Perini</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h4>Wed 3 July</h4>
    <table class="table table-striped">
      <tr><td width="15%">13:30-14:30</td><td style="background-color:#d9d2e9"><a style="color:black" href="https://indico.cern.ch/event/1134577/timetable/?view=standard#39-monte-carlo-sherpa-etc-ii">Monte Carlo, Sherpa II</a></td><td width="20%">Alan Price</td></tr>
      <tr><td width="15%">16:00-17:00</td><td style="background-color:#cfe2f3"><a style="color:black" href="https://indico.cern.ch/event/1134577/timetable/?view=standard#40-machine-learning-i">Machine learning III</a></td><td width="20%">Thea Aarrestad</td></tr>
    </table>
    <h4>Thu 4 July</h4>
    <table class="table table-striped">
      <tr><td width="15%">14:30-15:30</td><td style="background-color:#fce5cd"><a style="color:black" href="https://indico.cern.ch/event/1134577/timetable/?view=standard#39-monte-carlo-sherpa-etc-ii">Hands-on: Sherpa</a></td><td width="20%">Alan Price</td></tr>
      <tr><td width="15%">16:00-18:30</td><td style="background-color:#fce5cd"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshopqcd-2024-lesson-docker/05-building-docker-image.html">Build your own docker image</a></td><td width="20%">Kati Lassila-Perini</td></tr>
    </table>
    <h4>Fri 5 July</h4>
    <table class="table table-striped">
      <tr><td width="15%">9:00-10:00</td><td style="background-color:#d9d2e9"><a style="color:black" href="https://indico.cern.ch/event/1134577/timetable/?view=standard#47-monte-carlo-sherpa-etc-iii">Monte Carlo, Sherpa III</a></td><td width="20%">Alan Price</td></tr>
      <tr><td width="15%">14:30-15:30</td><td style="background-color:#fce5cd"><a style="color:black" href="https://cms-opendata-workshop.github.io/workshopqcd-2024-lesson-docker/06-sharing-docker-image.html">Share your code in a docker image</a></td><td width="20%">Kati Lassila-Perini</td></tr>
      <tr><td width="15%">16:00-18:30</td><td style="background-color:#fce5cd"><a style="color:black" href="https://cms-opendata-workshop.github.io/FIXME/">Jet/QCD/Hackathon topics - store and share </a></td><td width="20%">Kati Lassila-Perini</td></tr>
    </table>  
  </div>
</div>
